[submodule "facenet_pytorch"]
	path = facenet_pytorch
	url = https://github.com/timesler/facenet-pytorch.git

[submodule "openface"]
    path = openface
    url = https://github.com/cmusatyalab/openface.git
